*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

div.gallery {
  margin: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  float: left;
  margin-left: 15%;
  margin-bottom: 4%;
  margin-top: 4.5%;
  width: 30%;
}



div.gallery img {
  width: 100%;
  height: auto;
}

.bigdescriptionTop {
	margin-left: 29%;
	width:55%;
  	margin-bottom: 3.5%;
  	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;
}

.bigdescriptionTop li{
	line-height: 60px;
	font-size: 450%;
	color: #2f5c40;
	margin-top: 1%;
	text-align: center;
	font-family: "Times New Roman"
}
.bigdescription {
	margin-left: 50%;
  	margin-bottom: 4%;
  	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;
	width: 35%;
}

.bigdescription li{
	line-height: 60px;
	font-size: 400%;
	color: #000000;
	margin-top: 1%;
	margin-left: 3%;
	text-align: left;
	font-family: "Times New Roman";
	color: #2f5c40;
}

.bigdescription a{
	line-height: 35px;
	
	font-size: 200%;
	margin-top: 5%;
	color: #141414;
	text-align: left;
	font-family: "Times New Roman"
}

.bigdescription l{
	line-height: 35px;
	font-size: 100%;
	margin-top: 5%;
	color: #ffffff;
	text-align: center;
	font-family: "Times New Roman"
}


li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear20{
	clear: both;
	margin-bottom: 20px;
}

body{
	font-size: 12px;
	color: #000;
	background: url(images/bg.jpg) repeat-x;
	background-size: 50% 100%;
	background-attachment: fixed;
}
.page{
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
	overflow: hidden;
}

div.height{
	min-height: 600px;
}

.nav{
	width: 100%;
	height: 66px;
	background-color: #506820;
	/* #315f42 */
	overflow: hidden;
}
.logo{
	display: block;
	white-space: nowrap;
	text-indent: 999em;
	width: 213px;
	height: 50px;
	background-size: cover;
	overflow: hidden;
	margin: 5px 8px;
}
.nav ul{
	width: 720px;
	overflow: hidden;
	margin: 5px 10px 5px 0;
}
.nav ul li{
	width: 120px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #FFF;
	float: right;
	text-align: center;
}
.nav ul li:hover{
	background-color: #1f3c2a;
}
.mid{
	width: 100%;
	box-sizing: border-box;
	/* padding: 10px; */
	overflow: hidden;
}
.banner{
	width: 100%;
	height: 900px;
	overflow: hidden;
	margin-bottom: 15px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.centered {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 150px;
	color: #ffffff;
	font-family:"Times New Roman", Times, serif;
}
.banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.left{
	width: 30%;
	margin-right: 2%;
	margin-top: 5%;
}
.right{
	width: 65%;
	margin-top: 5%;
}
p.title{
	width: 100%;
	line-height: 38px;
	text-indent: 1em;
	background-color: #1f3c2a;
	color: #FFF;
	font-size: 18px;
	margin-bottom: 20px;
}
.jj{
	width: 260px;
	margin: 0 auto 20px;
}
.jj img{
	display: block;
	width: 220px;
	height: 220px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 3px solid #1f3c2a;
	margin: 0 auto 20px;
}
.jj p{
	line-height: 26px;
	margin-bottom: 5px;
}

.login{
	width: 260px;
	margin: 0 auto 20px;
}

.login input{
	width: 100%;
	height: 35px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 8px;
	margin-bottom: 15px;
}
.login button{
	text-align: center;
	width: 100%;
	height: 35px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #1f3c2a;
	font-size: 14px;
	color: #FFF;
	cursor: pointer;
}
.login button:hover{
	background-color: #1f3c2a;
}

.wz{
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}

.wz b{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: normal;
}

.wz p{
	text-indent: 2em;
	line-height: 35px;
	margin-bottom: 10px;
}

.wz>img{
	display: block;
	margin: 10px auto;
}

.wz p>img{
	display: inline-block;
	margin: 10px;
}

.foot{
	margin-left: 43%;
	line-height: 50px;
	font-size: 14px;
	color: #858f89;
	margin-bottom: 1%;
	margin-top: 0.5%;
}

.pagination {
	display: inline-block;
    position: fixed;
    bottom: 2.5%;
	left: 45%;
    text-align: center;
	width: 10%;

  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;

  }
  
  .pagination a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .line {
	margin-left: 10%;
	width: 80%;
	 height: 2px;
	 background-color: #9ea7aa;
	 background:linear-gradient(244deg,rgba(255,255,255,0) 0%,#718378 50%,rgba(255,255,255,0) 100%)
}

.line1 {
	margin-left: 10%;
	width: 80%;
	 height: 10px;
	 background-color: #ffffff;
	 background:linear-gradient(244deg,rgba(255,255,255,0) 0%,#ffffff 50%,rgba(255,255,255,0) 100%)
}

.nav img{
	margin-left: 30px;
	margin-top: 3px;
}


